body {
  background-color: grey;
}

h1 {
  font-family: sans-serif;
  font-size: 10vw;
  color: white;
  text-align: center;
}

.toneholder {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

.tone {
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
}

#red {
  background-color: red;
}
#red:active {
  background-color: white;
}

#yellow {
  background-color: yellow;
}
#yellow:active {
  background-color: white;
}

#green {
  background-color: green;
}
#green:active {
  background-color: white;
}

#blue {
  background-color: blue;
}
#blue:active {
  background-color: white;
}
