body {
  background-color: grey;
}

h1 {
  font-family: sans-serif;
  font-size: 10vw;
  color: white;
  text-align: center;
}

.toneholder {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

.tone {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  transition: background-color 0.2s;
}

#red {
  background-color: hsl(0, 100%, 50%);
}
#red:active {
  background-color: hsl(0, 100%, 65%);
}

#yellow {
  background-color: hsl(56, 80%, 50%);
}
#yellow:active {
  background-color: hsl(56, 80%, 80%);
}

#green {
  background-color: hsl(127, 80%, 50%);
}
#green:active {
  background-color: hsl(127, 80%, 80%);
}

#blue {
  background-color: hsl(227, 100%, 50%);
}
#blue:active {
  background-color: hsl(227, 100%, 60%);
}
